<!DOCTYPE html>
<html lang="en">
<head>
	{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'restaurant/style.css' %}" />
	<script src="{% static 'lightbox2/js/jquery-1.11.0.min.js' %}"></script>
	<script src="{% static 'lightbox2/js/lightbox.min.js' %}"></script>
	<link rel="stylesheet" href="{% static 'lightbox2/css/lightbox.css' %}" />
	<link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,
	300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	<title>{% block title %}{% endblock %}</title>
</head>

<body>
<div class="header">
	<div id = "logo">
		{% if restaurant_obj.logo %}
		<a href="{% url 'index' %}"><img src={{ restaurant_obj.logo.url }} id = "logo_image"></a>
		{% endif %}
	</div>
	<nav>
		<ul>
			<li><a href="{% url 'menu' %}">Menu</a>
				<ul>
				{% for menu_cat in menu_cats %}
			        <li><a href="{% url 'menu_cat' menu_cat.name %}">{{ menu_cat.name }}</a></li>
			    {% endfor %}
				</ul>
			</li>
			<li><a href="#">Gallery</a></li>
			<li><a href="{% url 'about_us' %}">About Us</a></li>
			<li><a href="#">Suggestion</a></li>
		</ul>
	</nav>
</div>

<div class="main_content">
	{% block main_content %}
	{% endblock %}
</div>

<div class="footer">
	<p>Copyright (c) 2014 Prinn Bantoengpratoomrad All rights reserved.</p>
	<p><b>{{ restaurant_obj.name }}</b></p>
	<p>Phone: {{ restaurant_obj.phone }} | Fax: {{ restaurant_obj.fax }} | {{ restaurant_obj.street }} {{ restaurant_obj.city }}, {{ restaurant_obj.state }} {{ restaurant_obj.zipcode }}</p>
</div>

</body>
	
</html>
