{% extends "base.html" %}

{% block main_content %}

	{{ menu_cat.description }}
	{% if food_menu_list %}
	    <ul>
	    {% for food_menu in food_menu_list %}
	        <li>{{ food_menu.food_item.name }}</li>

	        {% if food_menu.food_item.description %}
	        	{{ food_menu.food_item.description }}
	        {% endif %}

	        {% if food_menu.food_item.image %}
	        	<img src={{ food_menu.food_item.image.url }}>
	        {% endif %}
	    {% endfor %}
	    </ul>
	{% else %}
	    <p>No Menu</p>
	{% endif %}

{% endblock %}